@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-primary: #4aa0ba;
  --color-secondary: #9acfdf;
  --color-accent: #62bad5;
  --color-surface: #f5fafa;
  --color-darkened-surface: #b9baaa;
}

@layer base {
  /* Light mode (default) */
  :root {
    --color-primary: #4aa0ba;
    --color-secondary: #9acfdf;
    --color-accent: #62bad5;
    --color-surface: #f5fafa;
    --color-darkened-surface: #ffffff;
  }

  /* Dark mode overrides */
  html.dark {
    --color-primary: #459bb5;
    --color-secondary: #205565;
    --color-accent: #2a829d;
    --color-surface: #050a0a;
    --color-darkened-surface: #101919;
  }

  body {
    @apply bg-surface text-gray-900 transition-colors duration-300;
  }

  html.dark body {
    @apply bg-surface text-gray-100;
  }
}